{% extends "app/base.html" %}

{% block content %}

<div class="row my-4">
    <div class="col-md-12">
        {% for post in post_data %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                    <div class="btn btn-primary">詳細</div>
                </div>
                <div class="card-footer text-muted">
                    {{ post.created|date }} by {{ post.author }}
                </div>
                <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
